* {
  margin: 0;
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  position: relative;
}

#canvas {
  background: white;
  position: relative;
  display: block;
}

.actions {
  position: fixed;
  top: 10px;
  left: 10px;
}

.actions svg {
  width: 1.5em;
  height: 1.5em;
  margin: 5px;
  padding: 10px;
  /* border: 1px solid red; */
}

.active {
  fill: red;
}